{% extends 'head.html' %}

{% block content %}
<header>
    <div class="header-container">
        <a href="{% url 'home'%}" style="text-decoration: none;">
            <h1 class="site-title">MARVELVERSE</h1>
        </a>
    </div>
</header>

{% if messages %}
  <div class="messages">
      {% for message in messages %}
          <div class="alert {% if message.tags %} alert-{{ message.tags }} {% endif %}" role="alert">
              {{ message }}
          </div>
      {% endfor %}
  </div>
  {% endif %}

<div class="admin-container">
    <h2 class="admin-title">Admin Panel</h2>

    <div class="admin-buttons">
        <a href="{% url 'add-movie' %}" name="movie" class="admin-btn">Add Movie</a>
        <a href="{% url 'add-details' 'Actor' %}" class="admin-btn">Add Actor</a>
        <a href="{% url 'add-details' 'Director' %}" class="admin-btn">Add Director</a>
        <a href="{% url 'add-details' 'Tag' %}" class="admin-btn">Add Tag</a>
        <a href="{% url 'add-details' 'Genre' %}" class="admin-btn">Add Genre</a>
        <a href="{% url 'genearte-csv'%}" class="admin-btn">Genearte CSV</a>
    </div>
</div>
{% endblock content %}
