{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MarvelVerse</title>
  
  {% block header %}
  {% endblock header %}

  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/comment.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
  <link rel="stylesheet" href="{% static 'css/admin.css' %}">
  <link rel="icon" type="image/x-icon" href="{% static 'images/Icon.png' %}">
</head>

<body>

    {% block content %}
    {% endblock content %}

</body>
</html>
